/* CSS Document */

body { 
  background: #cccccc;
}

#top {
  background: #fff;
}

#footer {
  background: #fff;
  padding: 20 0 0 0;
}

.coursetree {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.invisibleDIV {
  height: 41px;
  width: 130px;
  /*border: 3px solid red;*/
  z-index: 1;
}

#BIOL1XX {
  position: relative;
  top: -153px;
  left: 29px;
}

#ENGL1XX {
  position: relative;
  top: -109px;
  left: 29px;
}

#CPSC213 {
  position: relative;
  top: -409px;
  left: 375px;
}

#CPSC221 {
  position: relative;
  top: -475px;
  left: 555px;
}

#trophycaserow {
  margin-bottom: 5px;
}

/* Trophy Case Button Colours */

.btn-taken {
  font-family: monospace;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  background-color: #6184a1;
  border-color: #6184a1;
}
.btn-taken:hover,
.btn-taken:focus,
.btn-taken:active,
.btn-taken.active,
.open .dropdown-toggle.btn-taken {
  color: #fff;
  background-color: #819db4;
  border-color: #819db4;
}
.btn-taken:active,
.btn-taken.active,
.open .dropdown-toggle.btn-taken {
  background-image: none;
}

.btn-taken .badge {
  color: #6184a1;
  background-color: #fff;
}

.btn-unlocked {
  font-family: monospace;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  background-color: #368e5a;
  border-color: #368e5a;
}
.btn-unlocked:hover,
.btn-unlocked:focus,
.btn-unlocked:active,
.btn-unlocked.active,
.open .dropdown-toggle.btn-unlocked {
  color: #fff;
  background-color: #44b371;
  border-color: #44b371;
}
.btn-unlocked:active,
.btn-unlocked.active,
.open .dropdown-toggle.btn-unlocked {
  background-image: none;
}

.btn-unlocked .badge {
  color: #368e5a;
  background-color: #fff;
}

/* Progress bar style */
.progress-bar-tc {
  background-color: #6184a1;
}

.progress-bar-tc_saved {
  background-color: #91a9be;
}